# Node / Next
node_modules
.next/
out/
.vercel/
dist/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env & local config
.env
.env.*
!.env.example

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
